---
import BaseLayout from "../../layouts/BaseLayout.astro";
import "../../styles/flins.css";
---

<BaseLayout title="flins impact shrine">
    <div class="shrine-content">
        <a href="/shrines">&larr; back</a>
        <h1>flins shrine</h1>
        <p>
            i 100%ed nod-krai in like 2 days because of this man. i love him so
            much. he was my first lv90 after 3+ years of being a lazy ass
            player. i got him the best artifacts, spent hours farming. i got
            ineffa. and columbina. and c6 sucrose. i made the perfect team for
            him. <small
                >(LOL, this is satire btw but i did do all of that)</small
            >
        </p>
        <div class="grid">
            <img
                src="https://file.garden/aXdBx1DU1BidR1It/764ed9bac44300d333a81778a471f499.jpg"
                alt="flins from genshin"
            />
            <img
                src="https://file.garden/aXdBx1DU1BidR1It/7a34363981cfe5adaabd61f1dd2d5605.jpg"
                alt="flins from genshin"
            />
            <img
                src="https://file.garden/aXdBx1DU1BidR1It/3dd336a942df52b132ac8118b2eaaf49.jpg"
                alt="flins from genshin"
            />
            <img
                src="https://file.garden/aXdBx1DU1BidR1It/f2978a021339a32cb2b8184c7cd27d53.jpg"
                alt="flins from genshin"
            />
            <img
                src="https://file.garden/aXdBx1DU1BidR1It/6dacb0374029f78f982f33acaefc145d.jpg"
                alt="flins from genshin"
            />
            <img
                src="https://file.garden/aXdBx1DU1BidR1It/9ec2d3d9e06c9e62d78ac8e250b08b13.jpg"
                alt="flins from genshin"
            />
            <img
                src="https://file.garden/aXdBx1DU1BidR1It/0835652e0d2f7c7875d98ef2a5f51443.jpg"
                alt="flins from genshin"
            />
            <img
                src="https://file.garden/aXdBx1DU1BidR1It/22ddc6d36864ded8ed824960ed75c925.jpg"
                alt="flins from genshin"
            />
            <img
                src="https://file.garden/aXdBx1DU1BidR1It/78640627d107b0a9f4ed9b1c8e896a99.jpg"
                alt="flins from genshin"
            />
            <img
                src="https://file.garden/aXdBx1DU1BidR1It/e1bcbb891ff230619abc5e3b717bf95f.jpg"
                alt="flins from genshin"
            />
            <img
                src="https://file.garden/aXdBx1DU1BidR1It/e0d7826677e8612c81f439e9a6077cd8.jpg"
                alt="flins from genshin"
            />
            <img
                src="https://file.garden/aXdBx1DU1BidR1It/a303679dfbda122f4d719ffd85f53399.jpg"
                alt="flins from genshin"
            />
            <img
                src="https://file.garden/aXdBx1DU1BidR1It/19dd0dd3510ec02e534aabe58e2196fe.jpg"
                alt="flins from genshin"
            />
        </div>
    </div>

    <div class="credits">
        bg: <a href="https://instagram.com/jwijaya_art">@jwijaya_art</a>
    </div>
</BaseLayout>
