---
import BaseLayout from "../../layouts/BaseLayout.astro";
import PageLayout from "../../layouts/PageLayout.astro";
---

<BaseLayout title="shrines">
    <PageLayout>
        <h1>Shrines</h1>
        <p>Shrines to my favourite things.</p>
        <ul>
            <li><a href="/shrines/flins">flins - genshin impact</a></li>
        </ul>
    </PageLayout>
</BaseLayout>
