---
import { getCollection, getEntry, render } from 'astro:content';
import BaseLayout from '../../layouts/BaseLayout.astro';
import PageLayout from '../../layouts/PageLayout.astro';

export async function getStaticPaths() {
  const posts = await getCollection('blog');
  return posts.map((entry) => ({
    params: { slug: entry.id },
    props: { entry },
  }));
}

const { entry } = Astro.props;
const { Content, headings } = await render(entry);
---

<BaseLayout title={entry.data.title}>
    <PageLayout>
        <a href="/blog">&larr; go back</a>
        <h1>{entry.data.title}</h1>
        <article>
            <Content />
        </article>
    </PageLayout>
</BaseLayout>