body {
    background: url("https://file.garden/aXdBx1DU1BidR1It/flins-genshin-impact-5k-3840x2160-24226.jpg")
        no-repeat center center fixed;
    background-size: cover;
    color: #303856;
    font-size: 20px;
}

h1 {
    color: #303856;
}

p {
    padding-bottom: 10px;
}

.credits {
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 2px;
    color: #fff;
}

.shrine-content {
    max-width: 800px;
    margin: 0 auto;
    background-color: hsl(212.94, 56.04%, 82.16%, 0.8);
    padding: 5px;
    text-align: center;
    border-radius: 10px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
}

.grid img {
    height: 100%;
    object-fit: cover;
}
