@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Mystery+Quest&display=swap");

:root {
    --light-green: #eaf0d1;
    --green: #a4ac86;
    --dark-green: #414833;
    --brown: #582f0e;
}

html {
    font-size: 16px;
}

body {
    font-family: "EB Garamond", serif;
    color: var(--light-green);
    font-size: 1em;
    margin: 20px auto;
}

hr {
    border: 1px solid var(--green);
    margin: 10px 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Mystery Quest", system-ui;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background: var(--green);
}

a {
    color: inherit;
}

a:hover {
    color: var(--green);
    text-decoration: dotted underline;
}

.container {
    background:
        linear-gradient(0deg, rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)),
        url(/images/bark.jpg) repeat;
    /* border: 5px solid var(--dark-green); */
    padding: 15px;
}

aside {
    display: flex;
    flex-direction: column;
    gap: 5px;
    /* background: linear-gradient(0deg, rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)), url(/images/bark.jpg) repeat; */
    background: var(--dark-green);
    padding: 10px;
}

h3 {
    padding-bottom: 10px;
}

.wrapper {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    /* gap: 5px; */
}

body {
    background: url(/images/entrance.jpg) no-repeat center center fixed;
    background-size: cover;
}

header {
    padding: 30px;
    text-align: center;

    background:
        linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url(/images/forest.jpg);
    background-size: cover;
    /* border: 5px solid var(--dark-green); */
}

header h1 {
    font-size: 42px;
}

.content {
    display: grid;
    grid-template-columns: 250px 1fr 250px;
    /* gap: 5px; */
}

.content .container:not(.sb) p:not(:nth-child(1)) {
    padding-top: 5px;
}

.content section.container > div:not(:nth-child(1)):not(.buttons) {
    padding-top: 15px;
}

.links {
    display: flex;
    flex-direction: column;
    gap: 2px;
    max-height: 150px;
    overflow-y: scroll;
}

.links a {
    background-color: var(--brown);
    padding: 2px;
    text-align: center;
}

.links a:hover {
    background-color: var(--green);
    color: var(--light-green);
}

.gallery {
    display: grid;
    gap: 5px;
    grid-template-columns: repeat(3, 1fr);

    max-height: 650px;
    overflow-y: auto;
}

.gallery img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.gallery div {
    height: 100%;
}

.buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5px;

    max-height: 300px;
    overflow-y: auto;

    margin-top: 5px;

    padding: 10px;
    background-color: var(--dark-green);
}

.buttons a {
    color: inherit;
    text-decoration: none;
}

.buttons a:hover {
    text-decoration: none;
}

.posts {
    padding-left: 15px;
}

ul {
    padding-left: 35px;
}

textarea {
    background: var(--brown);
    border: 1px solid var(--green);
    color: var(--light-green);
    font-size: 12px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

td,
th {
    text-align: left;
    padding: 5px;
    vertical-align: top;
}

td.interest-title {
    font-weight: bold;
    padding-right: 20px;
}

.webrings,
.updates {
    max-height: 200px;
    overflow-y: auto;
}

.blinkies {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2px;
}

.cat-1 {
    position: fixed;
    bottom: 0;
    left: 0;
}
.cat-2 {
    position: fixed;
    bottom: 0;
    right: 0;
}

@media screen and (max-width: 900px) {
    .wrapper {
        max-width: none;
        margin: 0 10px;
    }

    .content {
        grid-template-columns: 1fr;
    }
}
