@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Mystery+Quest&display=swap');

:root {
    --light-green: #eaf0d1;
    --green: #a4ac86;
    --dark-green: #414833;
    --brown: #582f0e;
}

html {
    font-size: 16px;
}

body {
    font-family: "EB Garamond", serif;
    color: var(--light-green);
    font-size: 1em;
    margin: 20px auto 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Mystery Quest", system-ui;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background: var(--green);
}

a {
    color: inherit;
}

a:hover {
    color: var(--green);
    text-decoration: dotted underline;
}

.container {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)), url(/images/bark.jpg) repeat;
    border: 5px solid var(--dark-green);
    padding: 15px;
}

aside div.container {
    padding: 10px;
}

.wrapper {
    max-width: 850px;
    width: 100%;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    gap: 5px;
}

body {
    background: url(/images/entrance.jpg) no-repeat center center fixed;
    background-size: cover;
}

header {
    padding: 30px;
    text-align: center;

    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/images/forest.jpg) repeat;
    border: 5px solid var(--dark-green);
}

header h1 {
    font-size: 42px;
}

.content {
    display: grid;
    grid-template-columns: 220px 1fr;
    gap: 5px;
}

.content .container:not(.sb) p:not(:nth-child(1)) {
    padding-top: 5px;
}

.content section.container>div:not(:nth-child(1)):not(.buttons) {
    padding-top: 15px;
}

.links {
    display: flex;
    flex-direction: column;
    gap: 2px;
    max-height: 100px;
    overflow-y: scroll;
}

.links a {
    background-color: var(--brown);
    padding: 2px;
    text-align: center;
}

.links a:hover {
    background-color: var(--dark-green);
}

.gallery {
    display: flex;
    gap: 5px;
    flex-direction: row;
    flex-wrap: wrap;
}

.gallery img {
    max-width: 190px;
}

.buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0;
}

.buttons a {
    color: inherit;
    text-decoration: none;
}

.buttons a:hover {
    text-decoration: none;
}

.buttons img {
    transition: 0.2s;
}

.buttons img:hover {
    scale: 1.2;
}

@media screen and (max-width: 820px) {
    .wrapper {
        max-width: none;
        margin: 0 10px;
    }
}