---
import BaseLayout from "../layouts/BaseLayout.astro";
import PageLayout from "../layouts/PageLayout.astro";
---

<BaseLayout title="about">
    <PageLayout>
        <h1>about the webmaster</h1>
        <p>
            for a start, my real name is marcus! i was born in 2009 which makes
            me 16, and i'm from the uk. my mbti is infp-t and when i did an
            omegaverse test i found out im a "submissive omega"...XD
        </p>
        <p>
            i read a lot of romance novels & occasionally watch anime when one
            catches my eye. i've recently started reading reading more
            manhwa/yaoi and i'm getting addicted lowk.
        </p>
        <p>
            i love nature, going on long walks with my sister & mum, exploring.
            i've always been quite artistic and love watching theatre. i also
            really love making websites in my free time hence why i've remade
            this site about 3000 times. i also love playing games :3
        </p>
        <p>
            i listen to a lot of different music. mostly conan gray, but also
            sophie, gfoty, charli xcx, and others. you can view my playlists on
            <a
                href="https://open.spotify.com/user/5lvrfpzfb1xyoece6w9vyea9n?si=3e06118b27f74db0"
                >my spotify</a
            >
            and <a href="https://last.fm/marcusleonas">lastfm</a>
        </p>
        <p>
            this website was made by me in html/css and is hosted on neocities!
            the background images are edited by me, but originally sourced from <a
                href="https://pixabay.com">pixabay</a
            >.
            <strong
                >feel free to take a look at the code, but please ask before
                using any code!</strong
            >
        </p>
        <p>
            think im cool? <em>(you do, right?)</em> send me a message on discord
            <em>(@flvffywvffy)</em> or email me: wishbone[at]posteo.uk
        </p>
        <p>p.s. this website looks better on pc :)</p>
    </PageLayout>
</BaseLayout>
