---
import BaseLayout from "../layouts/BaseLayout.astro";
import PageLayout from "../layouts/PageLayout.astro";
---

<BaseLayout title="about">
    <PageLayout>
        <h1>About the Webmaster</h1>
        <img
            src="https://file.garden/aXdBx1DU1BidR1It/download20260104222131.png"
            style="float:left;padding-right: 10px;"
            width="240"
        />
        <p>
            For a start, my real name is Marcus! I was born in London in August
            2009 which makes me 16 & a Leo. My MBTI is INFP-T, and I'm gay XD
        </p>
        <p>
            I read a lot of romance novels & occasionally watch anime when one
            catches my eye. I've recently started reading reading more
            manhwa/yaoi and I'm getting addicted lowk.
        </p>
        <p>
            I love nature, going on long walks with my sister & mum, exploring.
            I've always been quite artistic and love watching theatre. I also
            really love making websites in my free time hence why I've re-made
            this site about 3000 times. I also love playing games :3
        </p>
        <p>
            I made this website to have something to do other than scroll on
            tiktok, and because it's been ages since I made a personal website
            for myself!
        </p>
        <p>
            This website is build using <a href="https://astro.build">Astro</a>,
            a Static Site Generator. Essentially, it makes it easier for me to
            manage content such as blog posts, and also means when I want to
            update the sidebar, for example, I only need to do it once and it
            appears everywhere. It then gets pushed to <a
                href="https://github.com/marcusleonas/neocities"
                >this github repo</a
            > where a github action builds & deploys it to neocities.
        </p>
        <p>
            I'm also the creator of the <a href="https://coneheads.netlify.app"
                >Conehead Webring</a
            >, a webring for fans of the singer/songwriter Conan Gray. Join
            today!!
        </p>

        <hr />

        <h2>Interests/Likes</h2>
        <table class="interests">
            <tr>
                <td class="interest-title"
                    >Music <a
                        href="https://last.fm/user/marcusleonas"
                        target="_blank">(last.fm)</a
                    >
                </td>
                <td
                    ><strong>Conan Gray</strong>, Charli XCX, SOPHIE, GFOTY,
                    Chappell Roan, Adela, Troye Sivan, Marina, Addison Rae,
                    Ashnikko</td
                >
            </tr>
            <tr>
                <td class="interest-title">Games</td>
                <td
                    >Resident Evil <small
                        >(specifically the Leon games, yes I'm basic)</small
                    >, Dead By Daylight <small
                        >(survivor main, gen princess)</small
                    >, Genshin Impact, Where Winds Meet, Stardew Valley <small
                        >(occasionally)</small
                    >, Ghost of Tsushima
                </td>
            </tr>
            <tr>
                <td class="interest-title">TV</td>
                <td
                    >Young Royals, Superstore, The Good Place, Brooklyn
                    Nine-Nine + many more.</td
                >
            </tr>
            <tr>
                <td class="interest-title">Anime/Animated</td>
                <td
                    >Frieren, Arcane <small>(PEAK)</small>, Given, Sasaki to
                    Miyano, Yuri on Ice, Heaven Offical's Blessing, Castlevania,
                    Black Butler, HXH, Naruto <small
                        >(though i watched it like 6 years ago)</small
                    >
                </td>
            </tr>
        </table>
    </PageLayout>
</BaseLayout>
