---
import BaseLayout from "../layouts/BaseLayout.astro";
import PageLayout from "../layouts/PageLayout.astro";
import { art } from "../data/images";
---

<BaseLayout title="artwork">
    <PageLayout>
        <div>
            <h1>Artwork</h1>
            <p>
                I'm trying to get back into graphic design. Here are some things
                I've recently made! Feel free to use them however you like, but
                please give credit & don't reupload them anywhere!
            </p>
            <p style="padding-bottom: 10px;">
                Click an image to view it in fullscreen! (note: they may take a
                while to load on a bad internet connection, the files are quite
                big!)
            </p>
            <div class="gallery">
                {
                    art.map((image) => (
                        <a href={image.src} target="_blank">
                            <img src={image.src} alt={image.alt} />
                        </a>
                    ))
                }
            </div>
        </div>
    </PageLayout>
</BaseLayout>
