---
import BaseLayout from "../layouts/BaseLayout.astro";
import PageLayout from "../layouts/PageLayout.astro";

import { images } from "../data/images";
const imgs = images.slice(0, 3);
---

<BaseLayout title="welcome">
	<PageLayout>
		<h2>WEBSITE WIP!!</h2>

		<div>
			<p>
				hey and welcome! i made this site to have a home for some
				ramblings and other stuff & a place to express myself online! i
				apologise in advance for the dump of info T-T
			</p>
			<p>
				most images on this website are slightly edited by me, but
				originally sourced from pixabay, other than the wood texture
				which i got from ambientcg.
			</p>
		</div>
		<div>
			<h2>latest pictures</h2>
			<div class="gallery">
				{imgs.map((image) => <img src={image.src} alt={image.alt} />)}
			</div>
		</div>
		<div>
			<h2>socials</h2>
			<p>
				email: wishbone@posteo.uk<br />insta: wishbxnesclxvrs | tiktok:
				wishbxnes
			</p>
		</div>
		<div>
			<p>
				number of visitors: <script
					type="text/javascript"
					src="https://counter.websiteout.com/js/5/0/915/1"
				></script>
			</p>
		</div>
		<div>
			<h2>my pets</h2>
			<iframe
				width="314"
				height="321"
				scrolling="no"
				src="https://gifypet.neocities.org/pet/pet.html?name=Cookie&dob=1769538652&gender=m&element=Water&pet=cat.gif&map=night.gif&background=https%3A%2F%2Fn3bulaxo.neocities.org%2Fimages%2Fbark.jpg&tablecolor=%23357024&textcolor=white"
				frameborder="0"></iframe>
		</div>
	</PageLayout>
</BaseLayout>
