---
import { buttons } from "../data/buttons";
---

<div class="container sb">
    <nav class="links">
        <a href="/">home</a>
        <a href="/about">about</a>
        <a href="/pics">pictures</a>
        <a href="/links">links</a>
    </nav>
</div>
<div class="container sb">
    <h3>webrings</h3>
    <div>
        <a href="https://webmasterwebring.netlify.app?n3bula-previous">&larr;</a
        >
        <a href="https://webmasterwebring.netlify.app">Webmaster Webring</a>
        <a href="https://webmasterwebring.netlify.app?n3bula-random">?</a>
        <a href="https://webmasterwebring.netlify.app?n3bula-next">&rarr;</a>
    </div>
    <div>
        <a href=" https://webring.bucketfish.me/redirect.html?to=prev&name=n3bula">&larr;</a
        >
        <a href="https://webring.bucketfish.me">bucket webring</a>
        <a href="https://webring.bucketfish.me/redirect.html?to=random&name=n3bula">?</a>
        <a href="https://webring.bucketfish.me/redirect.html?to=next&name=n3bula">&rarr;</a>
    </div>
    <div style="width:200px;">
        <a href="https://www.virtuagirl.net/webring.htm#NBL0">&larr;</a> 
        <a href="https://www.virtuagirl.net/yuriwebring">YAOI WEBRING</a>
        <a href="https://www.virtuagirl.net/webring.htm#NBL1">&rarr;</a> 
    </div>
</div>
