---
import { buttons } from "../data/buttons";
---

<div class="container sb">
    <nav class="links">
        <a href="/">home</a>
        <a href="/about">about</a>
        <a href="/pics">pictures</a>
        <a href="/blog">blog</a>
        <a href="/links">links</a>
    </nav>
</div>
<div class="container sb webrings">
    <h3>webrings</h3>
    <!-- conehead webring -->
    <div>
        <a href="https://coneheads.netlify.app/redirect.html?to=prev&name=n3bula" target="_top">&larr;</a>
        <a href="https://coneheads.netlify.app" target="_blank">conehead webring</a>
        <a style="font-size:60%" href="https://coneheads.netlify.app/redirect.html?to=random&name=n3bula" target="_top">(rand)</a>
        <a href="https://coneheads.netlify.app/redirect.html?to=next&name=n3bula" target="_top">&rarr;</a>
    </div>

    <!-- webmaster webring -->
    <div>
        <a href="https://webmasterwebring.netlify.app?n3bula-previous">&larr;</a
        >
        <a href="https://webmasterwebring.netlify.app">Webmaster Webring</a>
        <a href="https://webmasterwebring.netlify.app?n3bula-random">?</a>
        <a href="https://webmasterwebring.netlify.app?n3bula-next">&rarr;</a>
    </div>

    <!-- bucket webring -->
    <div>
        <a href=" https://webring.bucketfish.me/redirect.html?to=prev&name=n3bula">&larr;</a
        >
        <a href="https://webring.bucketfish.me">bucket webring</a>
        <a href="https://webring.bucketfish.me/redirect.html?to=random&name=n3bula">?</a>
        <a href="https://webring.bucketfish.me/redirect.html?to=next&name=n3bula">&rarr;</a>
    </div>

    <!-- yaoi/yuri webring -->
    <div style="width:200px;">
        <a href="https://www.virtuagirl.net/webring.htm#NBL0">&larr;</a> 
        <a href="https://www.virtuagirl.net/yuriwebring">YAOI WEBRING</a>
        <a href="https://www.virtuagirl.net/webring.htm#NBL1">&rarr;</a> 
    </div>

    <!-- no ai webring -->
    <div>
        <a href="https://baccyflap.com/noai/?prv&s=nbl" target="_top">&larr;</a>
        <a href="https://baccyflap.com/noai" target="_blank">no ai webring</a>
        <a style="font-size:60%" href="https://baccyflap.com/noai/?rnd" target="_top">(rand)</a>
        <a href="https://baccyflap.com/noai/?nxt&s=nbl" target="_top">&rarr;</a>
    </div>

    <!-- ssg webring -->
    <div>
        <a href="https://jbc.lol/webrings/ssgring/redirect?slug=n3bula&way=prev" target="_top">&larr;</a>
        <a href="https://jbc.lol/webrings/ssgring" target="_blank">ssg ring</a>
        <a style="font-size:60%" href="https://jbc.lol/webrings/ssgring/redirect?way=rand" target="_top">(rand)</a>
        <a href="https://jbc.lol/webrings/ssgring/redirect?slug=n3bula&way=next" target="_top">&rarr;</a>
    </div>
</div>
<div class="container sb">
    <div id="statuscafe">
        <div id="statuscafe-username">loading...</div>
        <div id="statuscafe-content">loading...</div>
    </div>
    <script src="https://status.cafe/current-status.js?name=n3bula" defer></script>
</div>
<div class="container sb">
    <h3>say hi!</h3>
    <div class="chatbox" style="height: 200px;">
        <iframe src="https://www5.cbox.ws/box/?boxid=960927&boxtag=aOQMtI" width="100%" height="100%" allowtransparency="yes" allow="autoplay" frameborder="0" marginheight="0" marginwidth="0" scrolling="auto"></iframe>	
    </div>
</div>