<div class="sb">
    <nav class="links">
        <p>About</p>
        <a href="/">Home</a>
        <a href="/about">About</a>

        <p>Stuff</p>
        <a href="/art">Artwork</a>
        <a href="/pics">Pictures</a>
        <a href="/blog">Blog</a>
        <a href="/trinkets">Trinkets <small>(blinkies, cliques, etc)</small></a>
        <a href="/shrines">Shrines</a>

        <p>Outgoing</p>
        <a href="/links">Links</a>
        <a href="https://wishbxnes.carrd.co">Carrd</a>
        <a href="https://wishbone.atabook.org/">Guestbook</a>
    </nav>
</div>
<hr />
<div class="sb">
    <h3>Web Rings</h3>

    <div class="webrings">
        <div
            style="display:flex;flex-direction:row;align-items:center;gap:2px;font-family:sans-serif;"
        >
            <a
                href="https://coneheads.netlify.app/redirect.html?to=prev&name=n3bula"
                target="_top"
                style="font-size:18px;text-decoration:none;color:#477eb1;font-weight:bold;padding:0 5px;"
                >←</a
            ><a
                href="https://coneheads.netlify.app"
                target="_blank"
                style="font-size:18px;text-decoration:none;color:#477eb1;font-weight:bold;padding:0 5px;"
                ><img
                    src="https://file.garden/aXdBx1DU1BidR1It/conehead%20webring%2088x31.png"
                    alt="conehead webring"
                    style="display:block;width:88px;height:31px;image-rendering:pixelated;"
                /></a
            ><a
                href="https://coneheads.netlify.app/redirect.html?to=random&name=n3bula"
                target="_top"
                style="font-size:18px;text-decoration:none;color:#477eb1;font-weight:bold;padding:0 5px;"
                >?</a
            ><a
                href="https://coneheads.netlify.app/redirect.html?to=next&name=n3bula"
                target="_top"
                style="font-size:18px;text-decoration:none;color:#477eb1;font-weight:bold;padding:0 5px;"
                >→</a
            >
        </div>

        <!-- webmaster webring -->
        <map name="badge-wwstamp">
            <area
                shape="rect"
                coords="66,38,79,49"
                href="https://webmasterwebring.netlify.app?n3bula-previous"
                alt="Previous"
            />
            <area
                shape="rect"
                coords="78,29,90,40"
                href="https://webmasterwebring.netlify.app?n3bula-next"
                alt="Next"
            />
            <area
                shape="rect"
                coords="13,15,63,47"
                href="https://webmasterwebring.netlify.app"
                alt="Webmaster Webring"
            />
        </map>
        <img
            usemap="#badge-wwstamp"
            id="ww-stamp"
            src="https://file.garden/ZrZSgsrYfQXsO7QH/ww/stamp.png"
            alt="Webmaster Webring"
            width="99"
            height="56"
        />
        <!-- bucket webring -->
        <div>
            <a
                href=" https://webring.bucketfish.me/redirect.html?to=prev&name=n3bula"
                >&larr;</a
            >
            <a href="https://webring.bucketfish.me">bucket webring</a>
            <a
                href="https://webring.bucketfish.me/redirect.html?to=random&name=n3bula"
                >?</a
            >
            <a
                href="https://webring.bucketfish.me/redirect.html?to=next&name=n3bula"
                >&rarr;</a
            >
        </div>
        <!-- yaoi/yuri webring -->
        <div
            style="
         background-image:
         linear-gradient(to top,#000,#00000000),
         url('https://file.garden/aXdBx1DU1BidR1It/yaoi%20webring%20banner.png');
         /* upload your image or use the preuploaded one :- ) */
         background-size:cover;
         display:grid;
         height:100px;
         width:200px;
         color:#fff;
         font-family:'Times New Roman';
         font-size:18px"
        >
            <span
                style="display:inline-block;align-self:end;justify-self:center;text-align:center"
            >
                <a
                    style="text-decoration:none;color:#fff"
                    href="https://www.virtuagirl.net/webring.htm#nbl0">⇐</a
                >
                <!-- REPLACE "nbl" WITH /YOUR/ IDENTIFIER-->
                <a
                    style="text-decoration:none;color:#fff"
                    href="https://www.virtuagirl.net/yuriwebring"
                    >YAOI WEBRING</a
                >
                <a
                    style="text-decoration:none;color:#fff"
                    href="https://www.virtuagirl.net/webring.htm#nbl1">⇒</a
                >
                <!-- REPLACE "nbl" WITH /YOUR/ IDENTIFIER-->
            </span>
        </div>
        <!-- no ai webring -->
        <map name="noaimini0b">
            <area
                href="https://baccyflap.com/noai"
                target="_blank"
                shape="rect"
                coords="32,4,142,56"
                alt="no ai webring"
                title="no ai webring"
            />
            <area
                href="https://baccyflap.com/noai/?prv&s=nbl"
                target="_top"
                shape="rect"
                coords="4,18,26,42"
                alt="previous"
                title="previous"
            />
            <area
                href="https://baccyflap.com/noai/?rnd"
                target="_top"
                shape="rect"
                coords="158,44,170,56"
                alt="random"
                title="random"
            />
            <area
                href="https://baccyflap.com/noai/?nxt&s=nbl"
                target="_top"
                shape="rect"
                coords="148,18,170,42"
                alt="next"
                title="next"
            />
        </map>
        <img
            style="width:176px;image-rendering:pixelated"
            usemap="#noaimini0b"
            src="https://baccyflap.com/noai/miniwidget0.gif"
            alt="an image of a little blue toy robot in a red circle. there's a red line running through the robot. around it are the words NO AI / WEBRING and two arrows, one pointing left, one right, and a little icon with two crossed arrows"
        />

        <!-- silly webring -->
        <script
            is:inline
            src="https://silly.possiblyaxolotl.com/ring/webstring.js"></script>

        <!-- CDRING START -->
        <div id="cdr">
            <script
                type="text/javascript"
                src="https://cdring.neocities.org/cdring/onionring-variables.js"
            ></script>
            <script
                type="text/javascript"
                src="https://cdring.neocities.org/cdring/onionring-widget.js"
            ></script>
        </div>
        <!-- CDRING END -->
    </div>
</div>

<hr />

<div class="sb">
    <h3>Chatbox <em>(say hi!)</em></h3>
    <div class="chatbox" style="height: 250px;">
        <iframe
            src="https://www5.cbox.ws/box/?boxid=960927&boxtag=aOQMtI"
            width="100%"
            height="100%"
            allowtransparency="yes"
            allow="autoplay"
            frameborder="0"
            marginheight="0"
            marginwidth="0"
            scrolling="auto"></iframe>
    </div>
</div>
