---
import "../styles/resets.css";
import "../styles/globals.css";

interface Props {
    title: string;
}
const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <!-- meta tags-->
        <meta name="description" content="n3bula's personal dump"/>
        <meta property="og:site_name" content="n3bula's forest"/>
        <meta property="og:type" content="website" />
        <meta property="og:description" content="n3bula's personal dump"/>

        <link rel="icon" href="/favicon.png" />
        <title>{title} - n3bula's forest</title>
    </head>
    <body>
        <slot />
    </body>
</html>
