---
import "../styles/style.css";
import "../styles/comments.css";

import Sidebar from "../components/Sidebar.astro";
import Footer from "../components/Footer.astro";

interface Props {
    title: string;
}
const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/images/favicon.png" />
        <meta name="generator" content={Astro.generator} />
        <title>{title}</title>
    </head>
    <body>
        <main class="wrapper">
            <div class="grid">
                <section class="center">
                    <img
                        src="/images/logo.png"
                        alt="flvffywvffy"
                        class="header"
                        transition:name="logo"
                    />
                    <img
                        src="/images/bow.png"
                        alt="bow"
                        class="bow"
                        transition:name="bow"
                    />
                    <slot />
                </section>
                <Sidebar />
                <Footer />
            </div>
        </main>

        <img
            src="/images/cinnamonroll.png"
            class="cinnamonroll"
            transition:name="cinnamonroll"
        />

        <script
            is:inline
            src="https://storage.ko-fi.com/cdn/scripts/overlay-widget.js"
        ></script>
        <script is:inline>
            kofiWidgetOverlay.draw("flvffywvffy", {
                type: "floating-chat",
                "floating-chat.donateButton.text": "Support Me",
                "floating-chat.donateButton.background-color": "#00b9fe",
                "floating-chat.donateButton.text-color": "#fff",
            });
        </script>
    </body>
</html>
