---
import CurrentSong from "../components/CurrentSong.astro";
import Header from "../components/Header.astro";
import Sidebar from "../components/Sidebar.astro";
import { buttons } from "../data/buttons";
---

<div class="wrapper">
    <Header />
    <div class="content">
        <aside>
            <Sidebar />
        </aside>
        <section class="container">
            <slot />
        </section>
        <aside class="right">
            <div class="sb">
                <a href="https://neocities.org/site/n3bulaxo"
                    >Follow me on neocities!</a
                >
            </div>
            <hr />
            <div class="sb">
                <h3>Updates</h3>
                <div class="updates">
                    <p>
                        [30/01/2026]: Add shrine to <a href="/shrines/flins"
                            >Flins</a
                        > from Genshin Impact
                    </p>
                    <p>
                        [29/01/2026]: Major website update! Changes styles,
                        layout, etc. Also made the website work better on
                        mobile.
                    </p>
                </div>
            </div>
            <hr />
            <div class="sb">
                <h3>Status</h3>
                <div id="statuscafe">
                    <div id="statuscafe-username">loading...</div>
                    <div id="statuscafe-content">loading...</div>
                </div>
                <script
                    src="https://status.cafe/current-status.js?name=n3bula"
                    defer></script>
            </div>
            <hr />
            <div class="sb">
                <CurrentSong
                    apiKey="e2d0537b6c5434b59650b050e80671da"
                    username="marcusleonas"
                />
            </div>
            <hr />
            <div>
                <h3>Visitor Count</h3>
                <script
                    type="text/javascript"
                    src="https://counter.websiteout.com/js/5/0/915/1"></script>
            </div>
        </aside>
    </div>
</div>
<div class="cat-1">
    <img
        src="https://file.garden/aXdBx1DU1BidR1It/cat-dancing.gif"
        alt="cat"
        width="200"
    />
</div>
<div class="cat-2">
    <img
        src="https://file.garden/aXdBx1DU1BidR1It/oiia-cat-cat.gif"
        alt="cat"
    />
</div>
